html, body{
    height: 100%; /*ocupa 100% da área visível do navegador*/
    margin: 0;
    font-family: sans-serif;
    color: #1d0202;
}
.parallax1{
    position: relative; /*define posicionamento relativo*/
    background-image: url("../img/vulpix1.avif");
    height: 100%;
    
    background-attachment: fixed; /*deixa a imagem fixa*/
    background-position: center; /*centraliza a imagem*/
    background-repeat: no-repeat;
    background-size: cover; /*ajusta a proporção da imagem na tela*/
}
.caption{
    position: absolute; /*define posicionamento da div*/
    left: 0; /*gruda o quadro no canto esquerdo*/
    top: 50%; /*coloca o quadro com o texto no centro da div*/
    width: 100%;
    text-align: center;

}
.caption span.border{
    background-color: #960a63;
    color: white;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

.parallax2{
    position: relative; /*define posicionamento relativo*/
    background-image: url("../img/vulpix1.1.avif");
    height: 100%;
    
    background-attachment: fixed; /*deixa a imagem fixa*/
    background-position: center; /*centraliza a imagem*/
    background-repeat: no-repeat;
    background-size: cover; /*ajusta a proporção da imagem na tela*/
}
.caption2{
    position: absolute; /*define posicionamento da div*/
    left: 0; /*gruda o quadro no canto esquerdo*/
    top: 50%; /*coloca o quadro com o texto no centro da div*/
    width: 100%;
    text-align: center;

}
.caption2 span.border{
    background-color: #960a63;
    color: white;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

.parallax3{
    position: relative; /*define posicionamento relativo*/
    background-image: url("../img/alolan_vulpix1.avif");
    height: 100%;
   
    background-attachment: fixed; /*deixa a imagem fixa*/
    background-position: center; /*centraliza a imagem*/
    background-repeat: no-repeat;
    background-size: cover; /*ajusta a proporção da imagem na tela*/
}
.caption3{
    position: absolute; /*define posicionamento da div*/
    left: 0; /*gruda o quadro no canto esquerdo*/
    top: 50%; /*coloca o quadro com o texto no centro da div*/
    width: 100%;
    text-align: center;

}
.caption3 span.border{
    background-color: #960a63;
    color: white;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

.parallax4{
    position: relative; /*define posicionamento relativo*/
    background-image: url("../img/alolan_vulpix1.1.avif");
    height: 100%;
   
    background-attachment: fixed; /*deixa a imagem fixa*/
    background-position: center; /*centraliza a imagem*/
    background-repeat: no-repeat;
    background-size: cover; /*ajusta a proporção da imagem na tela*/
}
.caption4{
    position: absolute; /*define posicionamento da div*/
    left: 0; /*gruda o quadro no canto esquerdo*/
    top: 50%; /*coloca o quadro com o texto no centro da div*/
    width: 100%;
    text-align: center;

}
.caption4 span.border{
    background-color: #960a63;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

.box1{
    background-color: rgb(214, 117, 231);
    text-align: justify;
    padding: 50px 80px;

}

.box1 h3{
    text-align: center;
}

.box2{
    background-color: rgb(235, 136, 136);
    color: white;
    text-align: center;
    padding: 50px 80px;
}
.box3{
    background-color: rgb(117, 228, 167);
    color: white;
    text-align: center;
    padding: 50px 80px;
}

